.home-sd {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://images.squarespace-cdn.com/content/v1/58bdca902e69cf9dc75b5864/1572987284892-E1PZVU8E8RBJJI03OQGE/Websize0001.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.90;
}

.navbar {
  background-color: rgb(241, 67, 67) !important;
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 24px !important;
  cursor: pointer;
}

.logo-F {
  color: rgba(8, 228, 8, 0.911);
}

.intro-container {
  position: relative;
  margin-left: 10%;
  margin-right: 15%;
  margin-top: 7.5%;
  margin-bottom: 5%;
}

.intro {
  margin-bottom: 30px;
  color: white;
}

.home-pz {
  background-image: url("https://t4.ftcdn.net/jpg/02/80/76/25/360_F_280762521_j1sQEgHTmtfoUcAEgoPt1gdBu6yinZQN.jpg");
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}