.home-sd {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://images.squarespace-cdn.com/content/v1/58bdca902e69cf9dc75b5864/1572987284892-E1PZVU8E8RBJJI03OQGE/Websize0001.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.90;
}
.pizza-sd {
  content: "";
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://images.squarespace-cdn.com/content/v1/58bdca902e69cf9dc75b5864/1572987284892-E1PZVU8E8RBJJI03OQGE/Websize0001.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.90;
}
.home-signup {
  content: "";
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://www.svapinfotech.com/data/media/orginal/food-delivery-2-5459.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.90;
}
.home-login {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://www.svapinfotech.com/data/media/orginal/food-delivery-2-5459.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.90;
}

.order-success {
  background-color: white;
  margin: 3rem 2rem;
  padding: 1.5rem;
  border-radius: 18px;
  box-shadow: 2px 2px 20px 2px rgb(205 205 205 / 70%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: rgb(241, 67, 67) !important;
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 24px !important;
  cursor: pointer;
}

.logo-F {
  color: rgba(8, 228, 8, 0.911);
}

.intro-container {
  position: relative;
  margin-left: 10%;
  margin-right: 15%;
  margin-top: 7.5%;
  margin-bottom: 5%;
}

.intro {
  margin-bottom: 30px;
  color: white;
}

.home-pz {
  position: absolute;
  background-image: url(" https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148707022.jpg?w=996&t=st=1677876978~exp=1677877578~hmac=66462d953e622f248ea5a004eb0b0bc4232bf2ed4ea768029835bbcb39541e2f");
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
/* https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148707022.jpg?w=996&t=st=1677876978~exp=1677877578~hmac=66462d953e622f248ea5a004eb0b0bc4232bf2ed4ea768029835bbcb39541e2f */

/* https://www.buffalopizzayork.co.uk/image/cache/data/banner-1920x726.jpg */